.incomeBox {
    background-color: rgba(159, 243, 180, 0.425);
    padding: 2% 7%;
    border-radius: 10px;
    margin-bottom: 1%;
}

.expenseBox {
    background-color: rgba(240, 206, 206, 0.514);
    padding: 2% 7%;
    border-radius: 10px;
    margin-top: 1%;
}

.netAmount {
    position: absolute;
    left: 75%;
}

.profileDetail {
    margin-top: 5%;
}

.bi {
    margin: 0 1% 0 0;
}

.green {
    color: darkolivegreen;
}

.red {
    color: red;
}

.green:hover {
    cursor: pointer;
}

.red:hover {
    cursor: pointer;
}

.add {
    display: inline;
    width: 25%;
    margin: 10px 1% 0 0;
}

.transactionsLabel {
    position: absolute;
}

.amount {
    left: 45%;
}

.date {
    left: 75%;
}

.type, .amount, .date {
    margin-bottom: 5px;
}

.net {
    padding: 2% 5%;
    margin: 5% auto;
    background-color:rgba(126, 248, 248, 0.438);
    border-radius: 10px;
    width: 40%;
    text-align: center;

}

hr {
    width: 95%;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
}

.percentage {
    position: absolute;
    left: 50%;
}

.bd-value {
    position: absolute;
    left: 60%;
}

.overall {
    margin-left: 27%;
}
